* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  overflow-x: hidden;
}

.onboarding-form-container {
  width: 50%;
  max-width: 1200px;
}
.onboarding-container {
  display: flex;
  gap: 40px;
  margin: 0px 20px;
  margin-top: 10px;
}

.onboarding-image {
  width: 400px;
  object-fit: contain;
  height: auto;
}
.onboarding-sign-in {
  margin-bottom: 20px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.onboarding-logo {
  font-family: "Island Moments", cursive;
  color: #ff7a18;
  font-weight: 400;
  line-height: 40.81px;
  font-size: 25px;
}

.secondary-btn {
  text-decoration: none;
  color: #1e88e5;
  border: 2px solid #1e88e5;
  padding: 8px 25px;
  border-radius: 10px;
}

.onboarding-hero {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.onboarding-h1 {
  font-size: 25px;
  margin-bottom: 15px;
  color: rgb(32, 32, 32);
}

.onboarding-para {
  color: rgb(32, 32, 32);
  max-width: 500px;
  font-size: 16px;
  margin-bottom: 20px;
}

.onboarding-short-description {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.description-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.onboarding-icon {
  background-color: #ffe1c4;
  padding: 5px;
  border-radius: 8px;
}

.onboarding-text {
  font-size: 15px;
  width: 100%;
  margin-left: 3px;
}

.onboarding-link {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 15px;
}

.start-order-link,
.learn-more-link {
  width: 80%;
}

.start-order-link {
  color: white;
  text-decoration: none;
  background-color: #ff7418;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
}
.learn-more-link {
  color: #1e88e5;
  border: 2px solid #1e88e5;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
}

.onborading-privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 14px;
}
.privacy-link,
.terms-service-link {
  text-decoration: none;
  color: #1e88e5;
}

/* ***** Footer Section ***** */
footer {
  background-color: rgb(91, 56, 39);
  margin-top: -8px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 35px;
}

.footer {
  padding: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
}
.onboarding-logo {
  font-size: 15px;
}

.footer-para {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  width: 50%;
}

.quick-links {
  display: flex;
  flex-direction: column;
}

.quick-links h4 {
  color: #fff;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-nav-links,
.quick-links ul {
  list-style: none;
}

.footer-nav-links a,
.tel,
.mail,
.contact-address,
.quick-links ul li a {
  color: rgba(245, 245, 245, 0.664);
  font-size: 13px;
  text-decoration: none;
}

.social-links li {
  margin-top: 5px;
}

.footer-right-reserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 65px;
}
.footer-text {
  color: rgba(245, 245, 245, 0.664);
  font-size: 13px;
}
.footer-icon {
  cursor: pointer;
  width: 25px;
  height: auto;
}

/* ====== Featured Meal CSS Page Styles ===== */
.header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.feature-meal-page {
  background-color: #f3f4f6;
}

.featured-nav-logo {
  font-family: "Island Moments", cursive;
  color: #ff7a18;
  font-weight: 400;
  line-height: 40.81px;
  font-size: 25px;
}

.featured-nav-bar ul {
  display: flex;
  gap: 150px;
}

.featured-nav-bar ul {
  list-style: none;
}

.featured-nav-bar ul a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}

#home {
  content: "";
  color: #ff7a18;
}

.secondary-login-btn {
  padding: 5px 28px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #ff7a18;
  border-radius: 5px;
}

/* ***** Main Section ***** */
.featured-hero {
  position: relative;
}

.featured-meal-hero-img {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("/assets/images/Welcome.jpg");
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0 30px;
  overflow: hidden;
}

.featured-hero-heading {
  font-size: 35px;
  width: 50%;
  line-height: 1;
  margin-bottom: 10px;
}

.featured-para {
  font-size: 20px;
}

.discover-btn {
  color: white;
  background-color: #ff7a18;
  padding: 12px 24px;
  font-size: 14px;
  border: 1px solid #ff7a18;
  border-radius: 5px;
  cursor: pointer;
}

.search {
  background-color: white;
  box-shadow: 0px 0px 5px rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 640px;
  left: 270px;
  border-radius: 5px;
}

/* ***** Popular Categories Section ***** */

.categories-heading {
  padding-top: 95px;
  text-align: center;
  font-size: 20px;
}

.popular-catogories {
  margin-top: 30px;
}

.popular-catogories {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  gap: 35px;
  text-align: center;
  padding: 10px;
}

.catogorie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catogorie img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.food-name {
  height: 70px;
  width: 200px;
  color: black;
  padding: 20px;
  background-color: white;
}

.categorie-food-name {
  font-size: 12px;
  font-weight: 600;
}

/* ***** Chef Section ***** */

.chef-heading {
  padding-top: 95px;
  text-align: center;
  font-size: 20px;
}

.chef-special-menu-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.special-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 20%;
}

.special-menu img {
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.special-menu-description {
  font-size: 12px;
  padding: 10px;
}

.special-menu-description h3 {
  font-weight: 600px;
}

.special-menu-description p {
  font-size: 13px;
  max-width: 450px;
}

.special-menu-price {
  display: flex;
  /* background-color: pink; */
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

small {
  color: #ff7a18;
  font-size: 12px;
  font-weight: 600;
}

button {
  padding: 6px 9px;
  font-size: 10px;
  text-decoration: none;
  color: white;
  background-color: #ff7a18;
  border-radius: 3px;
  border-radius: 1px solid #ff7a18;
  border: none;
}

/* ***** View All Special Section ***** */
.view-all-special {
  display: none;
}
/* ***** Call To Action ***** */

.cta img {
  width: 100%;
  margin: 0;
}
.footer-footer {
  width: 100%;
  margin-left: 0;
}

/* ***** Responsive Media Query ***** */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 22px !important;
  }

  .onboarding-short-description {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .description-container {
    width: 48%;
    margin: -10px;
  }

  .onboarding-link {
    margin-top: -20px;
  }

  .start-order-link,
  .learn-more-link {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20px !important;
  }

  .onboarding-short-description {
    display: flex;
    flex-direction: column;
  }

  .description-container {
    margin: -10px;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
  }

  .onboarding-text {
    font-size: 14px;
  }

  .onboarding-link {
    margin-top: -30px;
  }

  .start-order-link,
  .learn-more-link {
    width: 100%;
  }

  .onborading-privacy {
    margin-top: -10px;
  }
}

@media screen and (max-width: 792px) {
  .onboarding-container {
    flex-direction: column;
  }

  .onboarding-image {
    width: 100%;
    height: auto;
  }

  .onboarding-form-container {
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }

  .onboarding-hero {
    align-items: center;
    justify-content: center;
  }

  .onboarding-short-description {
    display: flex !important;
    flex-wrap: nowrap !important;
    flex-direction: row !important;
  }

  .onboarding-link {
    margin-top: 10px;
  }

  .onborading-privacy {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
